.root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.hero-banner {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.hero-banner > img {
  width: 32.625rem;
  margin-bottom: 2rem;
}

.hero-banner > figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}

.hero-banner > figcaption > h3 {
  margin-bottom: 1.5rem;
}

.hero-banner > figcaption > h2 {
  margin-bottom: 0.75rem;
}

.hero-banner > figcaption > h4 {
  color: #616161;
}

.auth-area {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-area > .box {
  width: 25rem;
  height: auto;
  background-color: #fefefe;
  border-radius: 1rem;
  box-shadow: 2px 2px 15px -5px var(--primary-color);
  padding: 2rem;
}
