.link-card {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white-text-color);
  padding: 1rem 2rem;
  margin: 1.25rem 0;
  text-align: center;
  cursor: pointer;
}

.link-card:hover {
  background-color: var(--white-text-color);
  color: var(--primary-color);
  outline: 2px solid var(--primary-color);
}
